﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Plain Text : @ViewBag.result1
    <br />
    HTML Content : @Html.Raw(ViewBag.result2)
    <br />
    Student Data [Single Object]
    <br />
    First Name : @ViewBag.result3.FirstName
    <br />
    Last Name : @ViewBag.result3.LastName
    <br />
    Birth Dtae : @ViewBag.result3.BirthDate
    <br />
    Is New Student  : @ViewBag.result3.IsNewStudent
    <br />
    All Student Records
    <br/>
    <table cellspacing="2" cellpadding="2" border="1">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Is New Student
            </th>
        </tr>
        @foreach(var student in ViewBag.result4)
        {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.BirthDate</td>
            <td>@student.IsNewStudent</td>
        </tr>
        }
    </table>
</body>
</html>
